@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme inline {
  --font-sans: var(--font-jakarta);
  --font-mono: var(--font-geist-mono);
  --color-primary-100: oklch(0.3566 0.0635 230.07);
  --color-primary-200: oklch(0.2946 0.0495 228.61);
  --color-secondary-100: oklch(0.834 0.1584 88.96);
  --color-secondary-200: oklch(0.784 0.1584 88.96);
  --color-neutral-100: oklch(0.9612 0 0);
  --color-neutral-200: oklch(0.93 0 0);
}
